@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@400;600;700&display=swap");

/* Defauly setting */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all ease-in-out 0.2s;
}

:root {
  /* Primary Color */
  --primary-clr: hsl(25, 97%, 53%);

  /* Netural Color */
  --p-clr: hsl(217, 12%, 63%);
  --comp-clr: hsl(216, 12%, 54%);
  --comp-bg-clr: hsla(0, 0%, 100%, 0.1);
  --card-bg: linear-gradient(hsl(213, 19%, 18%), hsl(212, 21%, 14%));
  --body-bg: hsl(216, 12%, 8%);
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: var(--body-bg);

  font-size: 0.9375rem;
  font-family: "Overpass", sans-serif;
  line-height: 1.4;
}

/* font applied to all components */
input,
button,
textarea,
select {
  font: inherit;
}

/* remove all button styles */
button {
  all: unset;
  cursor: pointer;
}

.container {
  display: flex;
  flex-direction: column;
  padding: 2.5rem 1.75rem;
  background: var(--card-bg);
  border-radius: 1rem;

  max-width: 400px;
  max-height: 400px;
}

h1,
h2 {
  font-weight: 600;
  color: #fff;
}

p {
  color: var(--p-clr);
}

img {
  max-width: 100%;
  display: block;
}

/* adjust alignment of form & section component */
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Rating Form */
#rating > *:not(button) {
  margin-bottom: 1.25rem;
}

.star-icon,
.rating-row label {
  width: 3.125rem;
  height: 3.125rem;
  background-color: var(--comp-bg-clr);
  border: none;
  border-radius: 50%;
  color: #fff;
}

.star-icon img {
  width: 0.875rem;
  object-fit: contain;
}

.text-row p {
  margin-top: 0.5rem;
}

.rating-row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

input[type="radio"] {
  opacity: 0;
  width: 0;
  position: fixed;
}

.rating-row label {
  color: #fff;
  cursor: pointer;
}

.rating-row label:hover {
  background-color: var(--comp-clr);
}

.rating-row input[type="radio"]:checked + label {
  background-color: var(--primary-clr);
}

button {
  text-transform: uppercase;
  letter-spacing: 0.125rem;
  color: #fff;

  background-color: var(--primary-clr);
  text-align: center;
  padding: 0.75rem 0;
  border-radius: 10rem;
}

button:hover {
  color: var(--primary-clr);
  background-color: #fff;
}

/* used to convert pages with the toggle method */
.disappear {
  display: none;
}

/* thankyou section */
#thankyou {
  padding-top: 3rem;
  padding-bottom: 3rem;
  text-align: center;
}

#thankyou > *:not(.thankyou-img) {
  margin-top: 1.5rem;
}

.selected-score {
  align-self: center;
  color: var(--primary-clr);
  padding: 0.5rem 1.25rem;
  border-radius: 10rem;
  background-color: var(--comp-bg-clr);
  line-height: normal;
}

@media (max-width: 468px) {
  .container {
    padding: 2.5rem 1.25rem;
    width: 90%;
    max-width: max-content;
    max-height: min-content;
  }
} ;
